<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAllBookServlet</servlet-name>
    <servlet-class>com.xp.servlet.ShowAllBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>com.xp.servlet.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.xp.servlet.ShowCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeNumServlet</servlet-name>
    <servlet-class>com.xp.servlet.ChangeNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>delOneServlet</servlet-name>
    <servlet-class>com.xp.servlet.delOneServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>delAllServlet</servlet-name>
    <servlet-class>com.xp.servlet.delAllServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>ShowAllBookServlet</servlet-name>
    <url-pattern>/servlet/ShowAllBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/servlet/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/servlet/ShowCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeNumServlet</servlet-name>
    <url-pattern>/servlet/ChangeNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delOneServlet</servlet-name>
    <url-pattern>/servlet/delOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delAllServlet</servlet-name>
    <url-pattern>/servlet/delAllServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>servlet/ShowAllBookServlet</welcome-file>
  </welcome-file-list>
</web-app>
